/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e3a8a;
  color: white;
  padding: 15px 30px;
}
.navbar nav a{
    color: white;
    margin-left: 20px;
    
}
.Hero{
  background-image: url("https://as2.ftcdn.net/jpg/03/28/82/59/1000_F_328825997_53yZ6P3IWYWp1Cufc6gA4HdCz1liIGCE.jpg");
background-size: cover;
background-position: center;
padding: 100px 20px;
color: rgb(0, 0, 0);
text-align: center;
}
.intro{
  padding: 40px 20px;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}
.footer{
  background-color:#1e3a8a ;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}
.services{
   padding: 10px 5px;
   background-color: #f9f9f9;
   text-align: center;
}
.services h2{
  margin-bottom: 2px;
  color:#004d7a;
}
.service-cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
.card{
  background-color: #e0f2fe;
  padding: 15px;
   border-radius: 10px;
   width: 300px;
}
.intro h2{
  margin-bottom: 2px;
  color:#004d7a;
}
.card h3{
  font-size: 22px;
   margin-bottom: 10px;
}
.card p{
  font-size: 15px;
}
.apply {
  padding: 40px 20px;
  background-color: #e6f0ff;
  text-align: center;
}

.apply h2 {
  color: #1e3a8a;
}

.apply form {
  max-width: 500px;
  margin: 0 auto;
  text-align: left;
}

.apply input, .apply button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.apply button {
  background-color: #1e3a8a;
  color: white;
  border: none;
  cursor: pointer;
}

.apply button:hover {
  background-color: #004080;
}
.contact {
  padding: 40px 20px;
  background-color: #f5f7fa;
  text-align: center;
}

.contact h2 {
  color: #1e3a8a;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.contact-item {
  margin: 10px 0;
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}

.contact-form label {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea,
.contact-form button {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.contact-form button {
  background-color: #1e3a8a;
  color: white;
  border: none;
  margin-top: 15px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #004080;
}